# R/W Data in Text Format

### # parsing functions in pandas:
read_csv, read_table, read_hdf, read_html, read_json, read_pickle, read_excel, read_sql

In [1]:
# examples/ex1.csv is comma separated file
%cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
#file without header
%cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d'])

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

In [8]:
names=['a','b','c','d','comma-seprated csv']

In [9]:
pd.read_csv('examples/ex2.csv', 
            names=names, index_col='comma-seprated csv')

                    a   b   c   d
comma-seprated csv
hello               1   2   3   4
world               5   6   7   8
foo                 9  10  11  12

In [10]:
%cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
parsed = pd.read_csv('examples/csv_mindex.csv', 
                     index_col=['key1', 'key2'])

In [12]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
%cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
pd.read_csv('examples/ex2.csv', skiprows=[0,2,3])

Empty DataFrame
Columns: [5, 6, 7, 8, world]
Index: []

In [15]:
%cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [16]:
# NA and blank space is considered as NaN by default
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
pd.isnull((result))

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [18]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

####  Reading Text Files in Pieces

In [19]:
pd.options.display.max_rows=10
chunker = pd.read_csv('examples/ex1.csv', chunksize=2)

### Writing data to text format

In [20]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
data.to_csv('examples/out.csv')

In [22]:
%cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [23]:
import sys

In [24]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [25]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [26]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [27]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c','d'])

a,b,c,d
1,2,3.0,4
5,6,,8
9,10,11.0,12

In [28]:
dates = pd.date_range('1/1/2011', periods=7)

In [29]:
dates

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07'],
              dtype='datetime64[ns]', freq='D')

In [30]:
import numpy as np

In [31]:
ts = pd.Series(np.arange(7), index=dates)
ts

2011-01-01    0
2011-01-02    1
2011-01-03    2
2011-01-04    3
2011-01-05    4
2011-01-06    5
2011-01-07    6
Freq: D, dtype: int64

In [32]:
ts.to_csv('examples/tseries.csv')

In [33]:
%cat examples/tseries.csv

2011-01-01,0
2011-01-02,1
2011-01-03,2
2011-01-04,3
2011-01-05,4
2011-01-06,5
2011-01-07,6

In [34]:
%cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [35]:
import csv
f = open('examples/ex7.csv')

In [36]:
reader = csv.reader(f)

In [37]:
reader

In [38]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [39]:
with open('examples/ex7.csv')as f:
    lines = list(csv.reader(f))

In [40]:
header, values = lines[0], lines[1:]

In [41]:
header

['a', 'b', 'c']

In [42]:
values

[['1', '2', '3'], ['1', '2', '3']]

#  JSON Data

In [43]:
obj = """
    {"name":"Kishor",
     "place_lived":["IND","USA","UK"],
     "pet":null,
     "friends":[
         {"name":"Sandip", "age":31, "pets":["Zeus","Zuko"]},
         {"name":"Dipak", "age":31, "pets":["Sixes", "Stache", "Cisco"]}
         ]
    }
"""

In [44]:
obj

'\n    {"name":"Kishor",\n     "place_lived":["IND","USA","UK"],\n     "pet":null,\n     "friends":[\n         {"name":"Sandip", "age":31, "pets":["Zeus","Zuko"]},\n         {"name":"Dipak", "age":31, "pets":["Sixes", "Stache", "Cisco"]}\n         ]\n    }\n'

In [45]:
import json

In [46]:
result = json.loads(obj)

In [47]:
result

{'friends': [{'age': 31, 'name': 'Sandip', 'pets': ['Zeus', 'Zuko']},
  {'age': 31, 'name': 'Dipak', 'pets': ['Sixes', 'Stache', 'Cisco']}],
 'name': 'Kishor',
 'pet': None,
 'place_lived': ['IND', 'USA', 'UK']}

In [48]:
asjson = json.dumps(result)

In [49]:
asjson

'{"name": "Kishor", "place_lived": ["IND", "USA", "UK"], "pet": null, "friends": [{"name": "Sandip", "age": 31, "pets": ["Zeus", "Zuko"]}, {"name": "Dipak", "age": 31, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [50]:
friends = pd.DataFrame(result['friends'], 
                       columns=['name', 'age'])

In [51]:
friends

     name  age
0  Sandip   31
1   Dipak   31

In [52]:
data = pd.read_json('examples/example.json')

In [53]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [54]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [56]:
frame = pd.read_csv('examples/ex1.csv')

In [57]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

####  One of the easiest ways to store data (also known as serialization) efficiently in binary format is using Python’s built-in pickle serialization. pandas objects all have a to_pickle method that writes the data to disk in pickle format

In [59]:
frame.to_pickle('examples/frame_pickle')

In [61]:
%cat examples/frame_pickle

���      �pandas.core.frame��	DataFrame���)��}�(�_data��pandas.core.internals��BlockManager���)��(]�(�pandas.core.indexes.base��
�pandas.core.indexes.range��
RangeIndex���}�(h+N�start�K �stop�K�step�Ku��R�e]�(hhK ��h��R�(KKK��h�i8�K K��R�(K�<�NNNJ����J����K t�b�C`              	                     
h}�(hhhK ��h��R�(KK��h!�]�h)at�bh+Nu��R�e}��0.14.1�}�(�axes�h
�blocks�]�(}�(�values�h:�mgr_locs��builtins��slice���K KK��R�u}�(hfhEhghjKKK��R�ueust�b�_typ��	dataframe��	_metadata�]�ub.

In [62]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#  Interacting with Web APIs

In [63]:
import requests

In [64]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [65]:
resp = requests.get(url)
resp

In [66]:
data = resp.json()

In [68]:
data[0]['title']

'cleanup inconsistently used imports'