In [2]:
%pwd

'/root/anaconda3/my_codes'

In [3]:
b = [1,2,3]

In [40]:
b

set()

In [41]:
print

In [44]:
def add_numbers(a, b):
    """
    Add two numbers together
    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [45]:
add_numbers(2,3)

5

In [46]:
add_numbers

In [47]:
import numpy as np

In [48]:
np.add(2,3)Returning Multiple Values

5

In [17]:
def f(x,y,z):
    return (x+y)/z
f(7,2,3)

3.0

In [5]:
a = 'foo'

In [6]:
getattr(a,'rfind')

In [7]:
getattr(a, 'split')

## Check object is iterable

In [8]:
def isitrable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [9]:
isitrable('a String')

True

In [10]:
isitrable(12)

False

In [11]:
5//2

2

In [12]:
5/2

2.5

In [22]:
a = '''
This is python string
I want to learn python
This is excellent tutorial
'''

In [28]:
a

'\nThis is python string\nI want to learn python\nThis is excellent tutorial\n'

In [23]:
a.count('\n')

4

In [24]:
a[10]='f'

TypeError: 'str' object does not support item assignment

In [25]:
b = a.replace('string', 'str')

In [26]:
b

'\nThis is python str\nI want to learn python\nThis is excellent tutorial\n'

In [27]:
a

'\nThis is python string\nI want to learn python\nThis is excellent tutorial\n'

In [29]:
a = 5.6

In [31]:
s = str(a)
s

'5.6'

In [32]:
print(s)

5.6

In [35]:
type(a)

float

In [36]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [37]:
s[:3]

'pyt'

In [38]:
type(s)

str

# Encoding and Decoding (utf-8)

In [48]:
s = r'12\4'
print(s)

12\4

In [51]:
val = "esp₹ˆ˘df₹"

In [52]:
print(val)

esp₹ˆ˘df₹

In [53]:
val_utf8 = val.encode('utf-8')

In [61]:
val_utf8

b'esp\xe2\x82\xb9\xcb\x86\xcb\x98df\xe2\x82\xb9'

In [56]:
val_utf_decode8 = val_utf8.decode('utf-8')

In [60]:
val_utf_decode8

'esp₹ˆ˘df₹'

In [63]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00\xb9 \xc6\x02\xd8\x02d\x00f\x00\xb9 '

In [67]:
s = '3.14'
fval = float(s)
bool(fval)

True

#  Tuple

In [69]:
tup = 4,5,6

In [70]:
tup

(4, 5, 6)

In [71]:
type(tup)

tuple

In [72]:
nested_tup = (4,5,6),7,8

In [73]:
nested_tup

((4, 5, 6), 7, 8)

In [74]:
stup = tuple("string")

In [75]:
stup

('s', 't', 'r', 'i', 'n', 'g')

In [76]:
stup[:3]

('s', 't', 'r')

In [82]:
ntup = tuple(['foo',[1,2],False])

In [83]:
ntup

('foo', [1, 2], False)

In [84]:
ntup[1].append(3)

In [85]:
ntup

('foo', [1, 2, 3], False)

In [86]:
all_tuple = tup+stup+ntup

In [87]:
all_tuple

(4, 5, 6, 's', 't', 'r', 'i', 'n', 'g', 'foo', [1, 2, 3], False)

In [88]:
ntup*4

('foo',
 [1, 2, 3],
 False,
 'foo',
 [1, 2, 3],
 False,
 'foo',
 [1, 2, 3],
 False,
 'foo',
 [1, 2, 3],
 False)

### Unpacking tuple

In [89]:
tup

(4, 5, 6)

In [90]:
a,b,c=tup

In [91]:
a

4

In [92]:
a,b=tup

ValueError: too many values to unpack (expected 2)

In [93]:
ntup

('foo', [1, 2, 3], False)

In [94]:
a,[b,c,d],e=ntup

In [95]:
c

2

In [96]:
e

False

In [97]:
b

1

### Swap variables

In [119]:
(a,b)=(4,7)

In [120]:
b,a=a,b

In [121]:
b

4

In [122]:
a

7

### Sequence

In [103]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [105]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [106]:
val = 1,2,3,4,5,6

In [107]:
a,b,*c = val

In [108]:
c

[3, 4, 5, 6]

In [109]:
a

1

In [110]:
b

2

In [111]:
a,b,*_ = val

In [113]:
type(val)

tuple

### Tuple Methods

In [114]:
val.count(4)

1

In [2]:
val = 1,1,1,2,2,2,2,3,3,4,5,5,6,5,2,6,5,4,3,4,5,4,5,4,5,4,5

In [3]:
val.count(2)

5

In [4]:
val.index(5)

10

# List

In [5]:
a_list = [2,3,None]

In [6]:
tup = ('foo','bar','baz')

In [7]:
b_list = list(tup)

In [8]:
b_list

['foo', 'bar', 'baz']

In [9]:
b_list[1]

'bar'

In [10]:
b_list.insert(1,'red')

In [11]:
b_list

['foo', 'red', 'bar', 'baz']

In [12]:
b_list.append('baz')

In [13]:
b_list

['foo', 'red', 'bar', 'baz', 'baz']

In [15]:
b_list.pop()

'baz'

In [16]:
b_list.pop(2)

'bar'

In [17]:
b_list.remove('baz')

In [18]:
b_list

['foo', 'red']

In [20]:
'foo' in b_list

True

In [21]:
[1,None,'foo']+[5.5,(2,3),{'a':1},[4,5]]

[1, None, 'foo', 5.5, (2, 3), {'a': 1}, [4, 5]]

In [29]:
x = [1,2,3]

In [31]:
x.extend([4,5])

In [32]:
x

[1, 2, 3, 4, 5]

In [35]:
x.append([6,7])

In [36]:
x

[1, 2, 3, 4, 5, [6, 7]]

In [37]:
a = [7,4,8,1,3,5]

In [38]:
a.sort()

In [39]:
a

[1, 3, 4, 5, 7, 8]

In [42]:
a = ['aaaa','bbb','dd','z']

In [43]:
a.sort(key=len)

In [44]:
a

['z', 'dd', 'bbb', 'aaaa']

In [48]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,7)

7

In [49]:
bisect.insort(c,6)

In [50]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [51]:
c = [5,2,7,4,1]
bisect.bisect(c,4)

2

In [52]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [53]:
seq[1:5]

[2, 3, 7, 5]

In [54]:
seq[3:5]=[6,3]

In [55]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [56]:
seq[-6:-2]

[3, 6, 3, 6]

In [57]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [58]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [13]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

###  zip

In [15]:
seq1=['foo','bar','baz']
seq2=['one','two','three']

In [16]:
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [17]:
seq3 = [False, True]

In [18]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

### enumerate

In [2]:
i = 0
some_list = [100,'a','foo',2.3]
for i, val in enumerate(some_list):
    print("{0} : {1} ".format(i,val))

0 : 100
1 : a
2 : foo
3 : 2.3

###  reversed

In [15]:
l = [7,3,5,1,9,4]
m = list(reversed(l))

In [16]:
m

[4, 9, 1, 5, 3, 7]

# Dictionary

In [22]:
empty_dict = {}
d1 = {'a':'some value', 'b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [24]:
d1[7] = 'an integer'

In [25]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [26]:
d1['b']

[1, 2, 3, 4]

In [27]:
'b' in d1

True

In [29]:
'c' in d1

False

In [30]:
d1[5] = 'some value'

In [31]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [32]:
del d1[5]

In [33]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [34]:
d1['dummy'] = 'another value'

In [35]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [36]:
del d1[7]

In [37]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value'}

In [38]:
pop_item = d1.pop('dummy')

In [39]:
pop_item

'another value'

In [40]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [41]:
list(d1.keys())

['a', 'b']

In [42]:
list(d1.values())

['some value', [1, 2, 3, 4]]

In [44]:
d1.update({'b':'foo', 'c':112, 'list_val':[1,2,{3:'three'}]})

In [70]:
d1

{'a': 'some value', 'b': 'foo', 'c': 112, 'list_val': [1, 2, {3: 'three'}]}

In [46]:
list(d1.keys())

['a', 'b', 'c', 'list_val']

In [52]:
 def key_check(key):
    if key in d1:
        val = d1[key]
        print(val)
    else:
        val = 0
        print(0)

In [61]:
key_check('list_val[2]')

0

In [62]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [63]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [64]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

# Hash value

In [72]:
hash('strin')

-3155654499231333355

In [74]:
hash((1,2,(3,4)))

-2725224101759650258

In [75]:
hash((1,2,[3,4]))

TypeError: unhashable type: 'list'

In [1]:
d = {}
d[tuple([1,2,3])]=5

In [2]:
d

{(1, 2, 3): 5}

# SET
##### Unorderd collection of unique elements

In [3]:
set([2,2,2,2,1,1,2,3,3,4,1,4])

{1, 2, 3, 4}

In [4]:
{2,2,2,2,1,1,2,3,3,4,1,4}

{1, 2, 3, 4}

In [5]:
a = {2,2,2,2,1,1,2,3,3,4,1,4}
b = {3,4,5,1,4,4,4,3,3,3,5}

In [6]:
a.union(b)

{1, 2, 3, 4, 5}

In [7]:
a | b

{1, 2, 3, 4, 5}

In [8]:
a.intersection(b)

{1, 3, 4}

In [9]:
a & b

{1, 3, 4}

In [11]:
a.add(9)
a

{1, 2, 3, 4, 9}

In [12]:
b.clear()

In [13]:
b

set()

In [14]:
c = a.copy()

In [15]:
c

{1, 2, 3, 4, 9}

In [16]:
{1, 2, 3} == {3, 2, 1}

True

In [17]:
a.issuperset(b)

True

In [18]:
b

set()

In [19]:
b.issuperset(a)

False

# List, Set, and Dict Comprehensions

In [22]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [24]:
uniques_length = {len(x) for x in strings}
uniques_length

{1, 2, 3, 4, 6}

In [25]:
type(uniques_length)

set

In [26]:
new_list = [x.upper() for x in strings if len(x)>2]
new_list

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [27]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [29]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### Nested list comprehensions

In [30]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [33]:
result = [name for names in all_data for name in names if name.count('J')>=1]
result

['John', 'Juan', 'Javier']

In [34]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
some_tuples

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [36]:
my_list = [tup for tup in some_tuples]
my_list

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [38]:
my_list1 = [x for tup in some_tuples for x in tup if x%2!=0 ]
my_list1

[1, 3, 5, 7, 9]

In [39]:
my_list2 = [[x for x in tup]for tup in some_tuples]
my_list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Function 
### Returning Multiple Values

In [49]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [50]:
a,b,c = f()

In [51]:
print(a,b,c)

5 6 7

In [56]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, "b": b, '''c''':c}

In [57]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [59]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south carolina##', 'West virginia?']
states

[' Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

In [62]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!?#]','',value)
        value = value.title()
        result.append(value)
    return result

In [66]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [65]:
clean_strings("st?at#e!s>< ")

['S', 'T', '', 'A', 'T', '', 'E', '', 'S', '>', '<', '']

### Function with map

In [67]:
def remove_punctuation(value):
    return re.sub('[?!#]','', value)

In [70]:
clean_data = [x.strip().title() for x in map(remove_punctuation, states)]
clean_data

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [82]:
clean_data1 = [x.strip() for x in states if re.sub('[#@?!]', '', x)]

In [87]:
clean_data1

['Alabama',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

# Files and Operating System

In [18]:
file = '/root/base.sh'
f = open(file)

In [3]:
for line in f:
    print(line)

#!/bin/bash



yum update -y

yum install -y http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-8.noarch.rpm

yum install -y python-pip python-devel python-virtualenv

yum groupinstall 'Development Tools'

virtualenv jupyter-virtualenv

source jupyter-virtualenv/bin/activate

pip install jupyter

In [7]:
lines = [x.rstrip() for x in open(file)]
lines

['#!/bin/bash',
 '',
 'yum update -y',
 'yum install -y http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-8.noarch.rpm',
 'yum install -y python-pip python-devel python-virtualenv',
 "yum groupinstall 'Development Tools'",
 'virtualenv jupyter-virtualenv',
 'source jupyter-virtualenv/bin/activate',
 'pip install jupyter',
 '']

In [8]:
f.close()

#### One of the ways to make it easier to clean up open files is to use the with statement. This will automatically close the file f when exiting the with block.

In [39]:
with open(file) as f:
    lines = [x.rstrip() for x in f]
    print(lines)

['#!/bin/bash', '', 'yum update -y', 'yum install -y http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-8.noarch.rpm', 'yum install -y python-pip python-devel python-virtualenv', "yum groupinstall 'Development Tools'", 'virtualenv jupyter-virtualenv', 'source jupyter-virtualenv/bin/activate', 'pip install jupyter', '', '#sueña el pobre que padece']

In [40]:
f = open(file)
f.read(10)

'#!/bin/bas'

In [41]:
f.tell()

10

In [42]:
f

In [43]:
f.seek(3)

3

In [44]:
f

In [45]:
f.read(1)

'b'

In [46]:
f.close()

#### To write text to a file, you can use the file’s write or writelines methods. 
e.g. Write data from tmp.txt to tmp1.txt

In [47]:
with open('/root/tmp1.txt', 'w') as handle:
    handle.writelines(x for x in open('/root/tmp.txt') if len(x)>1)

In [48]:
with open('/root/tmp1.txt') as f:
    lines = f.readlines()

In [49]:
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece,\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

### Bytes and Unicode with Files

The default behavior for Python files (whether readable or writable) is text mode, which means that you intend to work with Python strings (i.e., Unicode). This contrasts with binary mode, which you can obtain by appending b onto the file mode.

In [50]:
path = '/root/tmp1.txt'
with open(path) as f:
    chars = f.read(10)

In [51]:
chars

'Sueña el r'

In [52]:
with open(path, 'rb') as f:
    data = f.read(10)

In [53]:
data

b'Sue\xc3\xb1a el '

In [55]:
data.decode('utf8')

'Sueña el '

In [61]:
data[:5].decode('utf8')

'Sueñ'

In [62]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [63]:
sink_path = 'sink.txt'

In [64]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

In [65]:
f = open(sink_path)

In [66]:
f.read(5)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 3: invalid continuation byte

In [67]:
with open(sink_path, encoding='utf8') as f:
    print(f.read(10))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 3: invalid continuation byte

In [68]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueña el r

In [69]:
f=open('/root/tmp1.txt')

In [70]:
f.read(5)

'Sueña'

In [71]:
f.read(1)

' '